<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mass Mailing Form</title>
  
  <!-- Bootstrap CSS via CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <!-- Custom CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Updated navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="Logo" class="logo" style="width: 50px;">
      </a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('index') }}">Guest Management</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('mass_mailing_bp.mass_mailing') }}">Mass Mailing</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('notification_time') }}">Notification Settings</a>
              </li>
          </ul>
      </div>
  </nav>

  <div class="container mt-4">
    <h1 class="text-center">Send Mass Mailing</h1>
    <div class="form-container">
      <form method="POST">
        <div class="form-group">
          <label for="subject">
            <i class="fa-solid fa-pencil-alt"></i> Subject:
          </label>
          <input type="text" id="subject" name="subject" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="message">
            <i class="fa-solid fa-envelope-open-text"></i> Message:
          </label>
          <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
        </div>

        <div class="form-group text-center">
          <input type="submit" value="Send Announcement" class="btn btn-primary">
        </div>
      </form>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-success">
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
  
  <!-- jQuery and Bootstrap JS via CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
